/* generics */
#container {
    width: 1300px;
    margin: 0 auto;
    background-position: center;
}
body{
    margin: 0 auto;
}

/* logo */

header{
    padding-top: 50px;
    background-image: url("../img/pattern.png");
    background-size: 30%;
    background-color: rgba(68, 136, 214, 0.5)
}

#logo{
    height: 50px;
    margin-left: 2px;
}

/* articolo */

#intestazione {
    padding-top: 20px;
}

#titolo{
    color: black;
    font-weight: bold;
    font-size: 40px;
}

#sottotitolo {
    font-weight: bold;
    color: grey;

}
#booleaner {
    color: lightseagreen;
    font-weight: bold;
}

#data {
    font-size: 11px;
    color: grey;
}

figure {
    margin: 0;
    padding-top: 20px;
}

.descrizione {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.evidenziato{
    background-color: yellow;
}

/* tabella */

table {
    border-collapse: collapse
}

th {
    color: white;
    font-weight: bold;
    background-color: #03a9f4;
}

.w-25{
    width: 25%;
    text-align: center;
}

#w-25{
    width: 25%;
    text-align: center;

}

#w-50{
    width: 50%;
    text-align: center;

}

.celeste {
    background-color: rgba(1, 195, 243, 0.192);
  
}

/* pi+ di pagina */

h4 {
    color: grey;
}

#immagine1{
    background-image: url(../img/monitor.jpg);
    
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}

#immagine2{
    margin-top: 10px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;

}

.titoloimmagine {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;


}